[Unit]
Description=Weatherstation proxy for OpenHab
After=network.target

[Service]
ExecStart=/usr/share/ohd0powermeter/d0powermeter.host
Restart=always
User=openhabian
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
WorkingDirectory=/usr/share/ohd0powermeter
Environment=PATH=/usr/bin:/usr/local/bin:/usr/share/dotnet:/opt/dotnet/shared:/opt/dotnet
Environment=D0POWERMETER_CONF=/etc/ohadapters/d0powermeter
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=multi-user.target
